:root {
  /* Colour */
  --clr-primary-400: 26, 100%, 55%;
  --clr-primary-200: 25, 100%, 94%;
  --clr-accent-700: 219, 9%, 45%;
  --clr-accent-400: 220, 14%, 75%;
  --clr-accent-300: 223, 64%, 98%;
  --clr-neutral-100: 0, 0%, 100%;
  --clr-neutral-900: 0, 0%, 0%;

  /* Fonts */
  --ff-Kumbh-Sans: "Kumbh Sans", sans-serif;

  /* Font Weights */
  --fw-400: 400;
  --fw-700: 700;

  /* Font Sizes */
  --fs-30: 1.875rem;
  --fs-21: 1.313rem;
  --fs-16: 1rem;
}

/* #region CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* #endregion */

body {
  font-family: var(--ff-Kumbh-Sans);
  font-size: var(--fs-16);
  color: hsl(var(--clr-accent-700));
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* #region Utility Class */
.clr-primary-400 {
  color: hsl(var(--clr-primary-400));
}
.clr-primary-200 {
  color: hsl(var(--clr-primary-200));
}
.clr-neutral-900 {
  color: hsl(var(--clr-neutral-900));
}
.clr-neutral-100 {
  color: hsl(var(--clr-neutral-100));
}
.clr-accent-700 {
  color: hsl(var(--clr-accent-700));
}
.clr-accent-400 {
  color: hsl(var(--clr-accent-400));
}
.clr-accent-300 {
  color: hsl(var(--clr-accent-300));
}

.bg-primary-400 {
  background-color: hsl(var(--clr-primary-400));
}
.bg-primary-200 {
  background-color: hsl(var(--clr-primary-200));
}
.bg-neutral-900 {
  background-color: hsl(var(--clr-neutral-900));
}
.bg-neutral-100 {
  background-color: hsl(var(--clr-neutral-100));
}
.bg-accent-700 {
  background-color: hsl(var(--clr-accent-700));
}
.bg-accent-400 {
  background-color: hsl(var(--clr-accent-400));
}
.bg-accent-300 {
  background-color: hsl(var(--clr-accent-300));
}

.fs-30 {
  font-size: var(--fs-30);
}
.fs-21 {
  font-size: var(--fs-21);
}
.fs-16 {
  font-size: var(--fs-16);
}

.fw-700 {
  font-weight: var(--fw-700);
}

.fw-400 {
  font-weight: var(--fw-400);
}
/* #endregion */

.nav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.nav__list > * {
  padding: 1rem 1.5rem;
  transition: color 300ms ease-in-out;
}
.nav__list > *:hover,
.nav__list > *:focus {
  color: hsl(var(--clr-primary-400));
}
.nav__link {
  text-decoration: none;
  color: inherit;
}
